body {
    text-align: center;
    width: 600px;
    height: 600px;
    background-color: pink;
    border: black 1px solid;
}
h2 {
    display: block;
    font-size: 1.5em;
    -webkit-margin-before: 0.0em;
    -webkit-margin-after: 15em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: normal;
}
dl {
    padding: 0;
    margin-bottom: 50px;
}
dt {
    font-weight: bold;
    font-size: 20px;
}
dd {
    /* -webkit-margin-start: 0px; */
    font-size: 15px;
}

