body {
    text-align: center;
    width: 600px;
    height: 600px;
    background-color: pink;
    border: black 1px solid;
    text-align: left;
    padding-left: 15px;
}
body.hoge{
    background-color: white;
}
h2 {
    display: block;
    font-size: 1.5em;
    -webkit-margin-before: 3em;
    -webkit-margin-after: 15em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: normal;
}
div.hoge img{
    margin-left: 10px;
    float: right;
}

